Debug/
Release/
Extern/

ipch/

*.sdf
*.suo

###############
#  fixed file #
###############
*.exe
*.txt
*.def
*.dsp
*.lib
*.doc
*.dll
*.lnt
*.pm
*.xls
*.dbg
*.DBG
*.o
*.obj
*.plg
*.keep
*.bin

###############
#  temp file  #
###############
~*
*.log
*.cmm
*.men
*.ini
*.fig
*.cmp
*.tmp

###############
#    script   #
###############
*.bat
*.rar
*.opendb

*.db
*.filters
*.user
