[submodule "Extern/GenericInjector"]
	path = Extern/GenericInjector
	url = D:/Visual Studio 2015/Projects/GenericInjector
[submodule "Extern/NatsuLib"]
	path = Extern/NatsuLib
	url = D:/projects/NatsuLib
